<div class="tabs mb-6">
  <a
    routerLink="/view-container-ref"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab tab-bordered"
  >
    Intro
  </a>
  <a
    routerLink="/view-container-ref/create-component"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab tab-bordered"
  >
    Create Component
  </a>
  <a
    routerLink="/view-container-ref/move-views"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab tab-bordered"
  >
    Move Views
  </a>
  <a
    routerLink="why-vcr"
    routerLinkActive="tab-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="tab tab-bordered"
  >
    Tab 3
  </a>
</div>

<router-outlet></router-outlet>
