<section class="mb-4 flex flex-col lg:flex-row lg:space-x-8">
  <div class="btn-group mb-4">
    <button type="button" class="btn btn-info w-40" (click)="createNewCard()">Add Card</button>
    <button type="button" class="btn btn-success w-52" (click)="createNewCard(0)">
      Add Card @ Top
    </button>
  </div>
  <div class="btn-group mb-4">
    <button type="button" class="btn btn-warning w-40" (click)="createNewPicCard()">
      Add Pic-Card
    </button>
    <button type="button" class="btn btn-error w-52" (click)="createNewPicCard(0)">
      Add Pic-Card @ Top
    </button>
  </div>
</section>

<ng-container #dynamic></ng-container>
