<h2 class="text-xl">What is a view container?</h2>
<section class="m-4 block w-1/2 space-y-4">
  <p>
    Think of it as a abstract and invisible "container" that lets you manipulate views inside it.
    With a <code class="bg-yellow-200">ViewContainerRef</code> instance, one can clear, insert,
    move, remove, detach views within this container.
  </p>
  <p>
    Also, one can instantiate embedded views or components and insert it (the host view in the case
    of the container) into this container.
  </p>
  <p>Check out the examples!</p>
</section>
