<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Welcome">
    <div class="content">
      <app-welcome></app-welcome>
    </div>
  </mat-tab>
  <mat-tab label="ElementRef">
    <div class="content">
      <app-element-ref></app-element-ref>
    </div>
  </mat-tab>
  <mat-tab label="ViewRef">
    <div class="content">
      <app-view-ref></app-view-ref>
    </div>
  </mat-tab>
  <mat-tab label="ViewContainerRef">
    <div class="content">
      <app-view-container-ref></app-view-container-ref>
    </div>
  </mat-tab>
  <mat-tab label="TemplateRef">
    <div class="content">
      <app-template-ref></app-template-ref>
    </div>
  </mat-tab>
</mat-tab-group>
